<!-- general filters -->
    <app-filter-searching-engine></app-filter-searching-engine>
<!-- general filters -->
<div>
    <div class="text-center">
        <h1>Métricas configuradas</h1>
    </div>
    <div class="row" >
        <div class="col" >
            <!-- alert chart -->
                <app-alerts></app-alerts>
            <!-- alert chart -->
        </div>
        <div class="col" >
            <!-- notification chart -->
                <app-notifications></app-notifications>
            <!-- notification chart -->
        </div>
    </div>
</div>