<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="row" style="width: 800px" >
        <div class="col">
            <mat-card class="example-card">
                <mat-card-title>Carga Programada Automática</mat-card-title>
                <mat-card-content>
                  <p>¿Cuándo usar el proceso  automático?</p>
                  <p>
                    Útil para tareas de carga masivas, en donde se deben cargar muchos archivos hacia un bucket, 
                    en donde se tiene un path o varios paths de orígenes de archivos.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary">Acceder</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <mat-card-title>Carga Manual</mat-card-title>
                <mat-card-content>
                  <p>¿Cuándo usar el proceso manual?</p>
                  <p>
                    Útil para tareas cortas y lotes pequeños de archivos donde se desea cargar de forma manual los archivos, 
                    pero siempre con todas las opciones anteriores. 
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary">Acceder</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>