<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Filtros</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let filter of filters"
        (removed)="remove(filter)">
        {{filter}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Nuevo Filtro..."
        #filterInput
        [formControl]="filterCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let filter of filteredChips | async" [value]="filter">
        {{filter}}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>